<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberTest">
    <test name="CucumberTest">
        <classes>
            <class name="com.jenkinsBuilDemo.runners.TestNGRunner"/>
            <class name="com.jenkinsBuilDemo.hooks.ReportHook"/>
        </classes>
    </test>
</suite>
       